<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RD_TableTool_WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RD_TableTool_WinForms.Properties.Settings>
            <setting name="OutputMenuItemPath" serializeAs="String">
                <value>C:\Users\LucaBorgmann\OneDrive - Roedl Dynamics GmbH\Desktop\Abschlussprojekt\MenuItems</value>
            </setting>
            <setting name="OutputEDTPath" serializeAs="String">
                <value>C:\Users\LucaBorgmann\OneDrive - Roedl Dynamics GmbH\Desktop\Abschlussprojekt\EDT</value>
            </setting>
            <setting name="OutputTablePath" serializeAs="String">
                <value>C:\Users\LucaBorgmann\OneDrive - Roedl Dynamics GmbH\Desktop\Abschlussprojekt\Tables</value>
            </setting>
            <setting name="OutputFormsPath" serializeAs="String">
                <value>C:\Users\LucaBorgmann\OneDrive - Roedl Dynamics GmbH\Desktop\Abschlussprojekt\Forms</value>
            </setting>
            <setting name="CurrentPath" serializeAs="String">
                <value />
            </setting>
        </RD_TableTool_WinForms.Properties.Settings>
    </userSettings>
</configuration>